
<% include header %>

<body>

<div class="site-wrapper">
  <div class="site-wrapper-inner">

      <div class="inner cover">
        <h1 class="cover-heading">Bring trust back to e-commerce.</h1>
        <p class="lead">Bargain Better unites buyers with sellers using social network connections.</p>
        <p class="lead">
          <a href="/learn" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </div>

  </div>
</div>

</body>
</html>
