<!DOCTYPE html>

<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login</title>

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/site.css">
  <!--<style>-->
    <!--.top-buffer { margin-top:20px; }-->
  <!--</style>-->
</head>

<body ng-controller="mainController">

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">BargainBetter</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">About</a>
            <a class="nav-link" href="#">Blog</a>
            <a class="nav-link" href="#">Newsletter</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Bring trust back to e-commerce.</h1>
        <p class="lead">Bargain Better unites buyers with sellers using social network connections.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </div>

    </div>

  </div>

</div>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/app/app.js"></script>

</body>
</html>
