<% include header %>

<body class="" ng-controller="displayProfileController">
<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand">BarginBetter</h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </nav>
            </div>
        </div>


        <div class="customGrid regular-text">
            <h2>Thanks for signing up!</h2>
            <h4>We've sent an invite to <%= emailAddress %>, click the subscription link to be added to the Bargain Better community</h4>
        </div>
    </div>
</div>