<% include header %>

<body class="" ng-controller="displayProfileController">
<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand">BarginBetter</h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="customGrid regular">

            <div class="groupOfFields">
                <div>
                    <h2>Sign up for free</h2>
                    <h4>Plug in your social networks, transact with those you trust</h4>
                </div>
                <div class="field">
                    <label for="email"></label>
                    <input type="email" id="email" name="email" required="required" value="Your Email">
                </div>
                <div class="field">
                    <label for="firstName"></label>
                    <input type="text" id="firstName" name="firstName" required="required" value="Your First Name">
                </div>
                <div class="field">
                    <label for="lastName"></label>
                    <input type="text" id="email" name="email" required="required" value="Your Last Name">
                </div>
                <div class="field">
                    <label for="linkedin"></label>
                    <input type="text" id="linkedin" name="linkedin" required="required" value="LinkedIn Profile">
                </div>
                <div class="field">
                    <button type="submit" class="btn btn-info btn-l register" ng-click="login()">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>